$blue-primary: #186bb7;
$blue-secondary: #4c9ae6;
$blue-light: #eaf5ff;
$grey-10: #e7e8ea;
$grey-15: #dcdee0;
$grey-50: #899096;
$grey-75: #4f5962;
$grey-90: #2b3742;
$grey-95: #14212c;
$white: #fff;
