h1 {
  color: $grey-75;
  font-size: 36px;
  font-weight: normal;
}

.homepage-table {
  tr:last-child > td,
  tr:last-child {
    border-bottom: 0;
  }

  th,
  td {
    font-size: 16px;
    padding-bottom: 10px;
  }

  th {
    border-bottom: 3px solid $grey-10;
    color: $grey-90;
    font-weight: bold;
  }

  tr {
    border-bottom: 1px solid $grey-10;
  }

  td {
    color: $grey-75;
    font-weight: normal;
    padding-top: 10px;

    @media (min-width: 750px) {
      line-height: none;
    }
  }

  a {
    color: $blue-primary;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
  }
}
