nav {
  background: $grey-95;
  border-bottom: 10px solid $blue-primary;
  margin-bottom: 40px;
}

.navbar {
  display: block;
  height: 60px;
  width: 100%;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  float: left;
  margin-bottom: 0;
}

.navbar-link {
  color: $white;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  margin-right: 35px;
  text-decoration: none;
  text-transform: uppercase;
}
